name: CI

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:  
  build-push:
    # Install/build maven dependencies
    runs-on: ubuntu-latest    

    steps:

    - name: Set up archived Oracle JDK 17.0.3.1
      uses: oracle-actions/setup-java@v1
      with:
        website: oracle.com
        release: 17
        version: 17.0.3.1
    
    # Entities Repo (must be built before services)
    - name: Checkout tools repo
      uses: actions/checkout@v4
      with:
        repository: adlnet/elrr-services-entities
        path: elrrserviceentities
    - name: Maven build Entities
      run: |
       cd elrrserviceentities
       echo "maven build - Clean install"
       mvn clean install
    
    # Services repo
    - name: Checkout
      uses: actions/checkout@v4
      with:
        path: elrrservices
    - name: Maven build
      run: |
       cd elrrservices
       echo "maven build - Clean install"
       mvn clean install
